body {
    background-color: #cccccc;
    font-family: sans-serif;
}

h2 {
    display: flex;
    justify-content: center;
}

header {
    background-color: #120323;
    color: #97bf04;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 1rem 0;
}

header nav {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #d9043d;
    color: white;
    width: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


#gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 3rem;
}


#gallery-container figure {
    background-color: #f9f9f9;
    padding: 1.5rem;
}


#gallery-container img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 0.5rem solid #97bf04;
}

#gallery-container figcaption {
    padding: 1rem;
}



#gallery-container figure:last-child {
    grid-column: span 2;
    height: auto;
}



footer {
    background-color: #d9043d;
    padding: 2rem;
    color: white;
    justify-content: center;
    display: flex;
}


@media only screen and (max-width: 1000px) {
    #gallery-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        padding: 3rem;
    }
}


@media screen and (max-width: 767px) {
    /* One column grid */
    #gallery-container {
        grid-template-columns: 1fr;
        padding: 0%;
    }

    #gallery-container figure{
        padding: 0;
    }

    /* Stack nav links vertically in box */
    header nav {
        flex-direction: column;
        padding: 0;
    }

    header nav ul {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        background-color: #d9043d;
        margin: 0;
        padding: 0;
        border: 3px #97bf04;
    }

    header nav ul li {
        text-align: center;

    }
}


/* 
The site uses a sans-serif font
The page background colour is #cccccc
header background color: #120323
company name & image bottom border: #97bf04
navigation & footer background colour: #d9043d
Any spacing not defined can be estimated
Ensure you don't use pixels for anything other than image widths and border sizes. All other units should be relative (rem, em, %, etc.)
Each photo has a 10px border on the bottom
Each gallery image should scale according to the size of its container, up to 650px in width, and be centered in its container
*/